@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
body {

    font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
    background-image: url(../../../assets/img/2348073.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.container-global {
    text-align: center;
    background-image: url(../../../assets/img/81mz.gif) !important;
    color: #a4ef14;
    padding-bottom: 3rem;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 3em;
    width: 100%;
}

.shadow-header {
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.500437675070028) 55%, rgba(147,147,147,0.7105217086834734) 73%, rgba(9,9,9,1) 97%);
    width: 100%;
    height: 100%;
}

.content-loading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-loading img{
    padding: 8px;
    border-radius: 50%;
    border: 3px solid white;
}

.contain-pagination{
    margin: 2rem auto;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
}

.contain-pagination button{
    border: none;
    border-radius: 5px;
    padding: .5rem;
    background-color: rgb(42, 42, 42);
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: all .5s ease-in-out;
}

.contain-pagination span {
    border: solid 2px rgb(34, 34, 34);
    border-radius: 5px;
    padding: .4rem;
    color: white;
}

.page-present{
    background-color: #587c17;
}

.contain-pagination button:hover{
    background-color: #587c17;
}

.container-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgb(30, 30, 30);
    width: fit-content;
    z-index: 99999;
    position: sticky;
    margin: -4rem auto 2rem auto;
}

.container-filter div{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.container-filter h2{
    font-family: "Rubik Doodle Shadow", system-ui;
}

.container-filter div button {
    border:none;
    padding: .6rem;
    background-color: #587c17;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all .5s ease-in-out;
}

.container-filter div button:hover{
    background-color: #3d5412;
    transform: scale(1.04);
    cursor: pointer;
}


.form-search-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.form-search-name .input-search-name{
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.445);
    padding: .5rem;
    color: #ffffff;
    font-weight: bold;
}

.form-search-name .input-submit-search{
    width: 19%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #587c17;
    padding: .4rem;
    font-size: 15px;
    transition: all .5s ease-in-out;
}

.form-search-name .input-submit-search:hover{
    cursor: pointer;
    background-color: #3d5412;
    transform: scale(1.04);
}


@media (max-width:480px) {

    .container-filter{
        width: 80%;
    }

    .form-search-name .input-submit-search{
        font-size: 13px;
        width: 25%;
    }

    .form-search-name .input-search-name{
        width: 74%;
    }

    .container-filter div button{
        font-size: 13px;
    }
    
    .container-filter h2{
        font-size: 16px;
    }
    .content-loading img{
        padding: 8px;
        border-radius: 50%;
        border: 3px solid white;
        width: 150px;
    }
    .container-cards{
        gap: 10px;
    }
    header {
        background-image: url(../../../assets/img/492e4fa2-7ec7-43f2-a738-f7e77a77f626.jpg);
        height: 90vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;

    }
}