<div class="container-global" (click)="reproducirMusica()">
  <header>
    <div class="shadow-header"></div>
  </header>
  <div class="contain-pagination">
    <button (click)="paginaAnterior()">Ant</button>
    <span *ngIf="urlPaginaAnterior">{{paginaActual - 1}}</span>
    <span class="page-present">{{paginaActual}}</span>
    <span *ngIf="urlPaginaSiguiente">{{paginaActual + 1}}</span>
    <button (click)="paginaSiguiente()">Sig</button>
  </div>
  <div *ngIf="chargePage; else loading" class="container-cards">
    <app-character  *ngFor="let objeto of patrocinadores" [objeto]="objeto">
    </app-character>
  </div>
  <ng-template #loading>
    <div class="content-loading">
      <img src="../../../assets/img/loading.gif" alt="loading">
    </div>
  </ng-template>
  <audio id="audio1" #audioPlayer loop>
    <source src="../assets/audio/rickandmortysound.mp3" type="audio/mp3">
    Tu navegador no soporta la etiqueta de audio.
  </audio>
</div>